.contacts
        a.contact(href="tel: +789521393145")
          i.fa.fa-mobile.contact__icon(aria-hidden="true")
          span.contact__text +7 952 139 31 45

        a.contact(href="mailto:info@busines.ru")
          i.fa.fa-envelope.contact__icon.contact__icon-email(aria-hidden="true")
          span.contact__text info@busines.ru

        a.facebook-icon(href="facebook.com")
          i.fa.fa-facebook(aria-true="true")