section.form-section
    .conteiner
        .title
            h2.title__header Get Your Facebook Analysist Now
            .title__text Enter your details below 
        
        .btn-down: a.arrow-down(href="#"): i.fa.fa-angle-down
        
        .form-wrapper.is-hidden
            form(method="post" action="#").form
                button(type="button").form__close-button x
                
                .form__text.
                    Dolor sit, amet consectetur adipisicing elit. Laborum, veritatis dolore praesentium atque non unde 
                
                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Namber")
                    input.form__input(type="text" placeholder="Contact Name")        
                
                button(type="submit").button.button-text-uppercase.button-red Submit now
            